In [1]:
# ``` bash
# export PYTHONPATH="${SPARK_HOME}/python/:$PYTHONPATH
# export PYTHONPATH="${SPARK_HOME}/python/lib/py4j-0.10.9.7-src.zip:$PYTHONPATH
# Jupyter notebook 
# ```

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
pyspark.__version__

'3.4.2'

In [4]:
pyspark.__file__

'/home/lottie/spark/spark-3.4.2-bin-hadoop3/python/pyspark/__init__.py'

In [5]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('homework') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/04 16:14:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-04 16:14:04--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 4.208.26.197
Connecting to github.com (github.com)|4.208.26.197|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T161404Z&X-Amz-Expires=300&X-Amz-Signature=db0776c7f368f9af8aa4bb9a2f395290cc2dc7d742399a09519543778de38756&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-04 16:14:04--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T161404Z&X-Amz-Expires=300&X-Amz-Signature=db0776c7f368f9af8aa4bb9a2f395290cc2dc7d742399a09519543778de38756&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz.6’

fhv_tripdata_2019-1 100%[===================>]  18.48M  --.-KB/s    in 0.07s

2024-03-04 16:14:05 (252 MB/s) - ‘fhv_tripdata_2019-10.csv.gz.6’ saved [19375751/19375751]

In [7]:
!gunzip -c fhvhv_tripdata_2021-01.csv.gz > fhvhv_tripdata_2021-01.csv

gzip: fhvhv_tripdata_2021-01.csv.gz: No such file or directory

In [8]:
!wc -l fhv_tripdata_2019-10.csv

1897494 fhv_tripdata_2019-10.csv

In [9]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [10]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [11]:
!head -n 1001 fhv_tripdata_2019-10.csv > fhv_head.csv

In [12]:
import pandas as pd

In [13]:
pd.__version__

'2.0.1'

In [14]:
pyspark.__version__

'3.4.2'

In [15]:
df_pandas = pd.read_csv('fhv_head.csv')

In [16]:
df_pandas.dtypes
# look at the dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [17]:
spark.createDataFrame(df_pandas)

DataFrame[dispatching_base_num: string, pickup_datetime: string, dropOff_datetime: string, PUlocationID: double, DOlocationID: double, SR_Flag: double, Affiliated_base_number: string]

In [18]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [19]:
from pyspark.sql import types

In [20]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropOff_datetime', types.TimestampType(), True),
    types.StructField('PUlocationID', types.IntegerType(), True),
    types.StructField('DOlocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [21]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [22]:
df.head(10)

[Row(dispatching_base_num='B00009', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 35), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00009'),
 Row(dispatching_base_num='B00013', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 13, 22), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00013'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 43), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 37, 20), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 56, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 57, 47), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23, 9), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 28, 27), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 0, 48), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 7, 12), PUlocationID=129, DOlocationID=129, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 47, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 53, 25), PUlocationID=57, DOlocationID=57, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 10, 6), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 19, 50), PUlocationID=173, DOlocationID=173, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 51, 37), dropOff_datetime=datetime.datetime(2019, 10, 1, 1, 6, 14), PUlocationID=226, DOlocationID=226, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 28, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 34, 33), PUlocationID=56, DOlocationID=56, SR_Flag=None, Affiliated_base_number='B00021         ')]

### Question 2: 

**FHV October 2019**

Read the October 2019 FHV into a Spark Dataframe with a schema as we did in the lessons.

Repartition the Dataframe to 6 partitions and save it to parquet.

What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

- 1MB
- __*6MB*__
- 25MB
- 87MB

**ANSWER: 6MB**

In [23]:
df = df.repartition(6)

In [24]:
df.write.parquet('fhvhv/2019/10/', mode='overwrite')

![alt text](Q2_spark_UI_partition_sizes.jpg)

### Question 3: 

**Count records** 

How many taxi trips were there on the 15th of October?

Consider only trips that started on the 15th of October.

- 108,164
- 12,856
- 452,470
- __*62,610*__

**ANSWER: 62,610**

In [25]:
df = spark.read.parquet('fhvhv/2019/10/')

In [26]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [27]:
from pyspark.sql import functions as F

In [28]:
target_date = '2019-10-15'

# Filter records for pickup_datetime on target_date
filtered_df = df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter(F.col('pickup_date') == target_date)

# Show filtered records
filtered_df.show()

# Count the number of records
record_count = filtered_df.count()

print(f"The number of records with pickup_datetime on {target_date} is: {record_count}")

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|pickup_date|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
|              B02133|2019-10-15 13:52:49|2019-10-15 13:56:46|         264|         264|   null|                B02866| 2019-10-15|
|              B02311|2019-10-15 01:04:56|2019-10-15 01:04:59|         264|         177|   null|                B02311| 2019-10-15|
|              B02472|2019-10-15 13:45:55|2019-10-15 13:49:06|         264|          37|   null|                B02472| 2019-10-15|
|              B01233|2019-10-15 22:22:47|2019-10-15 22:33:34|         264|          94|   null|                B01233| 2019-10-15|
|              B00647|2019-10-15 07:37:02|2019-10-15 07:57:07|         264|         212|   null|                B00647| 2019-10-15|
|              B03060|2019-10-15 09:36:53|2019-10-15 10:04:20|         264|          26|   null|                B02617| 2019-10-15|
|              B02311|2019-10-15 22:18:54|2019-10-15 22:41:02|         264|          49|   null|                B02311| 2019-10-15|
|              B01452|2019-10-15 09:52:36|2019-11-03 10:05:28|         204|         109|   null|                B01452| 2019-10-15|
|              B00911|2019-10-15 13:58:35|2019-10-15 14:17:03|         264|         254|   null|                B00911| 2019-10-15|
|              B01087|2019-10-15 21:30:06|2019-10-15 22:17:10|         100|         265|   null|                B01087| 2019-10-15|
|              B00254|2019-10-15 17:53:52|2019-10-15 18:56:54|         163|         141|   null|                B02356| 2019-10-15|
|              B01726|2019-10-15 10:25:01|2019-10-15 10:38:42|         264|          94|   null|                B01726| 2019-10-15|
|              B02715|2019-10-15 19:01:10|2019-10-15 19:09:03|         114|         249|   null|                B02512| 2019-10-15|
|              B02111|2019-10-15 04:32:23|2019-10-15 05:02:55|         192|         138|   null|                B02111| 2019-10-15|
|              B01437|2019-10-15 22:33:25|2019-10-15 23:01:43|         264|         215|   null|                B01437| 2019-10-15|
|              B02461|2019-10-15 17:42:04|2019-10-15 18:31:46|         264|         250|   null|                B02461| 2019-10-15|
|              B00948|2019-10-15 08:35:03|2019-10-15 08:37:15|         264|          76|   null|                B00948| 2019-10-15|
|              B00254|2019-10-15 20:11:49|2019-10-15 20:31:47|         256|         140|   null|                B00254| 2019-10-15|
|              B01087|2019-10-15 12:04:02|2019-10-15 12:29:09|         162|         138|   null|                B01087| 2019-10-15|
|              B02715|2019-10-15 16:35:11|2019-10-15 17:48:53|          13|         132|   null|                B02869| 2019-10-15|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
only showing top 20 rows

The number of records with pickup_datetime on 2019-10-15 is: 62610

### Question 4: 

**Longest trip for each day** 

What is the length of the longest trip in the dataset in hours?

- __*631,152.50 Hours*__
- 243.44 Hours
- 7.68 Hours
- 3.32 Hours

**ANSWER: 631,152.50 Hours**

In [29]:
df.createOrReplaceTempView('fhv_2019')

In [30]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [31]:
spark.sql("""
SELECT
    to_date(pickup_datetime) AS pickup_date,
    ROUND(MAX((CAST(dropOff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / (60 * 60)), 2) AS trip_duration
FROM 
    fhv_2019
GROUP BY
    1
ORDER BY
    2 DESC;
""").show()

+-----------+-------------+
|pickup_date|trip_duration|
+-----------+-------------+
| 2019-10-28|     631152.5|
| 2019-10-11|     631152.5|
| 2019-10-31|     87672.44|
| 2019-10-01|     70128.03|
| 2019-10-17|       8794.0|
| 2019-10-26|      8784.17|
| 2019-10-30|      1464.53|
| 2019-10-25|      1056.83|
| 2019-10-02|       769.23|
| 2019-10-23|       745.62|
| 2019-10-03|       745.38|
| 2019-10-04|       744.62|
| 2019-10-07|       744.17|
| 2019-10-05|       697.18|
| 2019-10-06|       674.01|
| 2019-10-08|       625.08|
| 2019-10-16|       604.07|
| 2019-10-09|       601.31|
| 2019-10-10|       577.39|
| 2019-10-12|       528.91|
+-----------+-------------+
only showing top 20 rows

### Question 6: 

**Least frequent pickup location zone**

Load the zone lookup data into a temp view in Spark</br>
[Zone Data](https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv)

Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?</br>

- East Chelsea
- __*Jamaica Bay*__
- Union Sq
- Crown Heights North

**ANSWER: Jamaica Bay**

In [32]:
df_zones = spark.read.parquet('zone/')

In [33]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [34]:
df_result = df.join(df_zones, df.PUlocationID == df_zones.LocationID)

In [35]:
df_result.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+-------------+--------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|LocationID|      Borough|                Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+-------------+--------------------+------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null|        89|     Brooklyn|Flatbush/Ditmas Park|   Boro Zone|
|              B01233|2019-10-08 00:09:01|2019-10-08 00:11:14|         264|          81|   null|                B01233|       264|      Unknown|                  NV|         N/A|
|              B02688|2019-10-02 10:59:00|2019-10-02 11:34:46|         264|         107|   null|                B02688|       264|      Unknown|                  NV|         N/A|
|              B01285|2019-10-03 21:56:10|2019-10-03 22:22:18|         264|         235|   null|                B01285|       264|      Unknown|                  NV|         N/A|
|              B00706|2019-10-05 02:48:13|2019-10-05 02:56:36|         115|         245|   null|                B00706|       115|Staten Island| Grymes Hill/Clifton|   Boro Zone|
|              B02107|2019-10-05 08:04:34|2019-10-05 08:50:25|         264|         107|   null|                B02107|       264|      Unknown|                  NV|         N/A|
|              B01626|2019-10-02 16:48:06|2019-10-02 16:59:34|         264|         130|   null|                B01626|       264|      Unknown|                  NV|         N/A|
|              B01315|2019-10-06 13:44:49|2019-10-06 14:03:00|         264|         244|   null|                B01315|       264|      Unknown|                  NV|         N/A|
|              B03015|2019-10-04 16:22:21|2019-10-04 16:27:39|         264|         197|   null|                B03015|       264|      Unknown|                  NV|         N/A|
|              B02930|2019-10-05 22:06:15|2019-10-05 22:25:31|         264|          69|   null|                B02930|       264|      Unknown|                  NV|         N/A|
|     B01711         |2019-10-07 03:49:09|2019-10-07 04:07:48|         252|          92|   null|       B01711         |       252|       Queens|          Whitestone|   Boro Zone|
|              B02293|2019-10-01 11:05:20|2019-10-01 12:49:00|         107|         168|   null|                B02293|       107|    Manhattan|            Gramercy| Yellow Zone|
|              B01016|2019-10-08 20:53:14|2019-10-08 20:55:12|         264|          76|   null|                B01016|       264|      Unknown|                  NV|         N/A|
|              B01509|2019-10-03 11:42:36|2019-10-03 12:07:04|         264|          89|   null|                B01509|       264|      Unknown|                  NV|         N/A|
|              B00887|2019-10-02 09:38:26|2019-10-02 10:07:04|         264|         186|   null|                B00887|       264|      Unknown|                  NV|         N/A|
|              B02803|2019-10-05 11:00:58|2019-10-05 11:02:28|          20|          78|   null|                B02803|        20|        Bronx|             Belmont|   Boro Zone|
|              B00692|2019-10-04 06:10:12|2019-10-04 06:23:11|         264|          54|   null|                B00692|       264|      Unknown|                  NV|         N/A|
|              B01639|2019-10-07 07:44:03|2019-10-07 07:48:57|         264|         167|   null|                B01639|       264|      Unknown|                  NV|         N/A|
|     B01711         |2019-10-07 17:23:42|2019-10-07 17:42:07|         171|          73|   null|       B01711         |       171|       Queens|  Murray Hill-Queens|   Boro Zone|
|              B02849|2019-10-03 14:25:07|2019-10-03 14:34:05|         264|         113|   null|                B02849|       264|      Unknown|                  NV|         N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+-------------+--------------------+------------+
only showing top 20 rows

In [36]:
df_result.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number',
 'LocationID',
 'Borough',
 'Zone',
 'service_zone']

In [37]:
df_result.createOrReplaceTempView('fhv_2019_zone_count')

In [38]:
df_result = spark.sql("""
SELECT
    Zone,
    COUNT(1) AS Total_Trips
FROM 
    fhv_2019_zone_count  
GROUP BY 
    1
ORDER BY
    2 ASC;
""").show()

+--------------------+-----------+
|                Zone|Total_Trips|
+--------------------+-----------+
|         Jamaica Bay|          1|
|Governor's Island...|          2|
| Green-Wood Cemetery|          5|
|       Broad Channel|          8|
|     Highbridge Park|         14|
|        Battery Park|         15|
|Saint Michaels Ce...|         23|
|Breezy Point/Fort...|         25|
|Marine Park/Floyd...|         26|
|        Astoria Park|         29|
|    Inwood Hill Park|         39|
|       Willets Point|         47|
|Forest Park/Highl...|         53|
|  Brooklyn Navy Yard|         57|
|        Crotona Park|         62|
|        Country Club|         77|
|     Freshkills Park|         89|
|       Prospect Park|         98|
|     Columbia Street|        105|
|  South Williamsburg|        110|
+--------------------+-----------+
only showing top 20 rows