# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

# Use a generator

### Question 1: What is the sum of the outputs of the generator for limit = 5?

In [46]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

limit = 5
generator = square_root_generator(limit)
total = 0

for sqrt_value in generator:
    total += sqrt_value
    print(sqrt_value)

print(f"\nThe total sum of limit {limit} is: {total:.3f}")

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979

The total sum of limit 5 is: 8.382

### Question 2: What is the 13th number yielded

In [43]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

limit = 13
generator = square_root_generator(limit)
last_value = 0 

for sqrt_value in generator:
        last_value = sqrt_value
        print(sqrt_value)

print(f"\nThe {limit}th number yeilded  is: {last_value:.3f}")

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989

The 13th number yeilded  is: 3.606

First make sure that the following modules are installed:

In [45]:
%%capture
pip install dlt[duckdb]

# Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

### Question 3 - Append the 2 generators
After correctly appending the data, calculate the sum of all ages of people.

In [44]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [41]:
import dlt
import duckdb

pipeline = dlt.pipeline(pipeline_name='people_data', destination='duckdb', dataset_name='personal_data')

info = pipeline.run(people_1(), table_name='people', write_disposition='replace')

print(info)

info = pipeline.run(people_2(), table_name='people', write_disposition='append')

print(info)

conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

conn.sql(f"SET search_path = '{pipeline.dataset_name}'")
print('Loaded Tables: ')
display(conn.sql("show tables"))

print("\n\n\n people table below:")

people = conn.sql("SELECT * FROM people").df()
display(people)

Pipeline people_data load step completed in 0.16 seconds
1 load package(s) were loaded to destination duckdb and into dataset personal_data
The duckdb destination used duckdb:////home/lottie/dlt/people_data.duckdb location to store data
Load package 1707769138.985312 is LOADED and contains no failed jobs
Pipeline people_data load step completed in 0.21 seconds
1 load package(s) were loaded to destination duckdb and into dataset personal_data
The duckdb destination used duckdb:////home/lottie/dlt/people_data.duckdb location to store data
Load package 1707769139.5485773 is LOADED and contains no failed jobs
Loaded Tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
│ people_duckdb       │
└─────────────────────┘

 people table below:

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A   1707769138.985312  M5cM3b4n8qbVEw       None
1    2  Person_2   27  City_A   1707769138.985312  C1Zf4e8ZWs4QEw       None
2    3  Person_3   28  City_A   1707769138.985312  M+u5v+rhkaJfNA       None
3    4  Person_4   29  City_A   1707769138.985312  ZPd3z3lPHGveIg       None
4    5  Person_5   30  City_A   1707769138.985312  eRGxJCWjcKahHA       None
5    3  Person_3   33  City_B  1707769139.5485773  w2dcLtqsYzEzWg      Job_3
6    4  Person_4   34  City_B  1707769139.5485773  lxhaRqzU3h+i4Q      Job_4
7    5  Person_5   35  City_B  1707769139.5485773  dkljjM4w/L5AZw      Job_5
8    6  Person_6   36  City_B  1707769139.5485773  0D/uAZLLtQMZpg      Job_6
9    7  Person_7   37  City_B  1707769139.5485773  OOQIJSUh2lKWZw      Job_7
10   8  Person_8   38  City_B  1707769139.5485773  7Wf6C1XvQSBX+A      Job_8

In [42]:
age = sum(people['age'])
print(age)

353

# Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

### Question 4 - Merge the 2 generators
After correctly merging the data, calculate the sum of all ages of people.

In [49]:
import dlt
import duckdb

pipeline = dlt.pipeline(pipeline_name='people_data', destination='duckdb', dataset_name='personal_data')

info = pipeline.run(people_1(), table_name='people', write_disposition='replace', primary_key='id')

print(info)

info = pipeline.run(people_2(), table_name='people', write_disposition='merge', primary_key='id')

print(info)

conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

conn.sql(f"SET search_path = '{pipeline.dataset_name}'")
print('Loaded Tables: ')
display(conn.sql("show tables"))

print("\n\n\n people table below:")

people = conn.sql("SELECT * FROM people").df()
display(people)

Pipeline people_data load step completed in 0.20 seconds
1 load package(s) were loaded to destination duckdb and into dataset personal_data
The duckdb destination used duckdb:////home/lottie/dlt/people_data.duckdb location to store data
Load package 1707770324.0314102 is LOADED and contains no failed jobs
Pipeline people_data load step completed in 0.38 seconds
1 load package(s) were loaded to destination duckdb and into dataset personal_data
The duckdb destination used duckdb:////home/lottie/dlt/people_data.duckdb location to store data
Load package 1707770324.6436486 is LOADED and contains no failed jobs
Loaded Tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
│ people_duckdb       │
└─────────────────────┘

 people table below:

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707770324.0314102  HJyitml7P2rTVw       None
1   2  Person_2   27  City_A  1707770324.0314102  orrBoRGaGBRktw       None
2   5  Person_5   35  City_B  1707770324.6436486  /aS8729xd/e4iw      Job_5
3   7  Person_7   37  City_B  1707770324.6436486  hmO6JJCwzSTpYQ      Job_7
4   3  Person_3   33  City_B  1707770324.6436486  99YvQldFSzyn3g      Job_3
5   6  Person_6   36  City_B  1707770324.6436486  RbMJO8mVSMtZUA      Job_6
6   8  Person_8   38  City_B  1707770324.6436486  zZ7r228lr3ZdVg      Job_8
7   4  Person_4   34  City_B  1707770324.6436486  Dz3szkalomPN3w      Job_4

In [50]:
age = sum(people['age'])
print(age)

266